* {
    display: block;
    text-align: center;
    align-items: center;
    background-color: black;
    margin-top: 0;
    
}

.prototype {
    color: rgb(77, 233, 233);
}

.upload {
    color: rgb(77, 233, 233);
}

.button {
    color: rgb(77, 233, 233);
    margin-left: 575px;
}

.input {
    margin-left: 500px;
    background-color: white;
}

.image {
    width: 20%;
    margin-left: 500px;
}

/* Media enquiry*/

@media (max-width: 500px) {

    .input {
        margin-left: 100px;
        
    }

    .button {
        margin-left: 180px;
    }

    .image {
        margin-left: 180px;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .input {
        margin-left: 250px;
        
    }

    .button {
        margin-left: 340px;
    }

    .image {
        margin-left: 310px;
    }
}