* {
    display: block;
    text-align: center;
    background-color: black;
    margin-top: 0;
    
}

.prototype {
    color: rgb(77, 233, 233);
}

.upload {
    color: rgb(77, 233, 233);
}

.button {
    color: rgb(77, 233, 233);
    margin-left: 575px;
}

.input {
    margin-left: 500px;
    background-color: white;
}

.image {
    width: 20%;
    margin-left: 500px;
}